@media (max-width: 767px) {

    .maincontainer{
        width:100%;
    }
    .navimage {
        background-image: url(../images/mobile/image-header.jpg);
        background-repeat:no-repeat;
        /* width: 30rem; */
        height: 44rem;
        background-size: cover;
    }
    
    .optionscontainer{
        display:none;
    }
    .hamburger {
        width: 2rem;
        height: 0.2rem;
        background-color: white;
        margin: 6px 0;
        padding: 0;
    }
    .nav-container{
        padding: 1.5rem 2rem 0rem 0rem;
    }
    .title{
        font-size:2.2rem;
    }
    .containertwo {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxtwo{
    background-image: url(../images/mobile/image-transform.jpg);
    background-repeat:no-repeat;
    width: 100%;
    height: 40rem;
    background-size: contain;
    }
    .boxone{
        height: 39rem;
        background-color: white;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: -8rem;

    }
    .smalltext {
        padding: 0rem ;
        font-size: 1rem;
        font-weight: 600;
        color: #8e8787f2;
        
    }
    .headingcontainer {
        font-size: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:7rem;
    }
    .arrowcontainer {
        font-size: 11.1rem;
        padding: 2rem 0rem 0rem 0rem;
    }
    .bigtext {
        font-size: 2.1rem;
        padding: 0rem;
    }
    .ttext {
        font-size: 2rem;
        padding: 0rem;
        display: flex;
        justify-content: center;
    }
    .text{
        padding: 0rem;
    }
    .container6 {
        display: flex;
        flex-direction: column;
    }
    .boxone.container-3box-1 {
        height: 29rem;
        background-color: white;
        width: 28rem;
        margin:2rem;
    }
    .containertwo.container-3 {
        flex-direction:column-reverse;

    }
    
    .container-4box-1{
        background-image: url("../images/mobile/image-stand-out.jpg");
        background-repeat:no-repeat;
        width: 100%;
        height: 39rem;
        background-size: contain;
    }
    .container-3box-1 .ttext {
        padding: 0rem 0rem 2rem 5rem;
        margin-top: -2.5rem;
    }
    .container-3box-1 .smalltext {
        padding: 0rem ;
    }
    .container-3box-1 .text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem;
        padding-top: 3rem;
    }
    .container-3box-1 .bigtext{
        padding: 0rem 2rem 0rem 6rem;
    }
    .container7 {
        height: 22rem;
        width: 100%;
    }

    .clientcontainer {
        display: flex;
        flex-direction: column;
    }
    .container4 {
        display: flex;
        flex-direction: column;
    }
   .box5{
        background-image: url("../images/mobile/image-graphic-design.jpg");
        height:56rem;
        background-size: cover;
        width: 100%;
        background-repeat: no-repeat;
    }
    .headingcontain {
        padding-top: 32rem;
    }
    .boxhead {
        margin-bottom: 2rem;
    }
   .box6{
        background-image: url("../images/mobile/image-photography.jpg");
        height: 40rem;
        width: 100%;
        background-repeat: no-repeat; 
    }
    .container5{
       
    }
    h1.h1 {
        font-size: 1.1rem;
        padding: 0rem 2rem 0rem 1rem;
        letter-spacing: 0.3rem;
    }

    .emily, .thomas, .jennie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .designation {
        
        padding: 0rem;
    }
    .r {
        padding: 0rem;
    }

    img {
        height: 4rem;
        margin: 3rem 0rem 2.5rem 0rem;    }

        .sectionimages {
            /* width: 26rem; */
            width: 100%;
        }
        .sectionimages img {
            width: 100%;
            
        }

    .clientcontainer {
       padding:0rem;
    }


    .container6 {
        margin-right: 0rem;
    }
    .footerparent{
        gap:0rem;
        padding: 0rem 2rem 0rem 0rem;
    }

}