@media (max-width: 767px) {

    .maincontainer{
        width:100%;
    }
    .navimage {
        background-image: url(../images/mobile/image-header.jpg);
        background-repeat:no-repeat;
        /* width: 30rem; */
        height: 44rem;
        background-size: cover;
    }
    
    .optionscontainer{
        display:none;
    }
    .hamburger {
        width: 2rem;
        height: 0.2rem;
        background-color: white;
        margin: 6px 0;
        padding: 0;
    }
    .nav-container{
        padding: 1.5rem 2rem 0rem 0rem;
    }
    .title{
        font-size:2rem;
    }
    .containertwo {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boxtwo{
   /* ); background-image: url(../images/mobile/image-transform.jpg */
    /* background-repeat:no-repeat; */
    width: 100%;
    height: 100%;
    /* background-size: contain; */
    }
    .boxone{
      height: 32rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      /* margin-top: -8rem; */

    }
    .smalltext {
        padding: 0rem ;
        font-size: 1rem;
        font-weight: 600;
        color: #8e8787f2;
        padding: 0rem 2rem 0rem 2rem;
        text-align: center;
        
    }
    .headingcontainer {
        font-size: 2.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top:7rem;
    }
    .arrowcontainer {
        font-size: 11.1rem;
        padding: 2rem 0rem 0rem 0rem;
    }
    .bigtext {
        font-size: 2rem;
        padding: 0rem ;
    }
    
    .ttext {
        font-size: 2rem;
        padding: 0rem;
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
    }
    .text{
        padding: 2rem 3rem 0rem 3rem;
        font-size: 0.8rem;
    }
    .container6 {
        /* display: flex;
        flex-direction: column; */
    }
    .boxone.container-3box-1 {
        height: 32rem;
        background-color: white;
        width: 100%;
        /* margin:2rem; */
    }
    .containertwo.container-3 {
        flex-direction:column-reverse;

    }
    .container-4box-1{
        width: 100%;
        display: flex;
    }
    /* .container-3box-1 .ttext {
        padding: 0rem 0rem 2rem 5rem;
    
    } */
    .container-3box-1 .smalltext {
       padding: 0rem 2rem 0rem 2rem;
       font-size: 1rem;
    }
    .container-3box-1 .text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem 3rem 0rem 3rem;
        font-size: 0.8rem;
    }
    .container-3box-1 .bigtext{
        padding: 0rem 5rem 2rem 4rem;
        font-size: 2rem;
        text-align: center;
    }
    .container7 {
        height: 22rem;
        width: 100%;
    }

    .clientcontainer {
        display: flex;
        flex-direction: column;
    }
    .container4 {
        display: flex;
        flex-direction: column;
    }
   .box5{
        background-image: url("../images/mobile/image-graphic-design.jpg");
        /* height:100%; */
        /* background-size: cover; */
        width: 100%;
        /* background-repeat: no-repeat; */
    }
    .headingcontain {
        padding-top: 10rem;
        text-align: center;
    }
    .boxhead {
        margin-bottom: 1.5rem;
        font-size: 2rem;
    }
   .box6{
        background-image: url("../images/mobile/image-photography.jpg");
        /* height:100%; */
        width: 100%;
        /* background-repeat: no-repeat;  */
    }
    .container5{
        width:100%;
        height: 100%;
        padding: 5rem 0rem;
       
    }
    h1.h1 {
        font-size: 1.1rem;
        padding: 0rem;
        letter-spacing: 0.3rem;
    }

    .emily, .thomas, .jennie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .designation {
        font-size: 1rem;
        padding: 0rem;
    }
    .r {
        padding: 0rem;
        font-size: 1.1rem;
    }

    .boxtwo img {
        object-fit: cover;
        display:flex;
        height: 100%;
        }  
   .sectionimages {
    width:50%;
    display: flex;
    flex-wrap: wrap;
   }
   .sectionimages img {
        width: 100%;
        height: auto;
        }

    .clientcontainer {
       padding:0rem;
    }
    .container6 {
        margin-right: 0rem;
        display: flex;
        flex-wrap: wrap;
    }
    .footerparent{
        gap: 2rem;
        padding: 0rem 1rem;
    }
    .namecontainer{
    padding:0%;
    padding-top: 2rem;
    }
    .emilyline {
        font-size: 1rem;
    }
    .elastline{
        font-size: 1rem;
    }
    .boxpara {
        font-size: 1rem;
    }
   .lastpara{
    font-size: 1rem;
   }

   .boxline{
    font-size:1rem;
   }
   .lastline{
    font-size:1rem;
   }
   .headingparent {
   padding-top: 10rem;
   text-align: center;
   }
   .container-3box-1 .ttext {
     padding: 0rem ; 
  }
  .links{
   font-size: 1.1rem;
}
.footerheading {
    font-size: 1.8rem;
}
.clientcontainer img {
    margin-top: 3rem;
}





}